<div class="row">
  <div class="filter-box">
    <div style="width: 100%">
      <label for="filter">Pesquisar</label>
      <br />
      <input type="search" placeholder="Pesquisar" [(ngModel)]="filterGames" />
    </div>
    <div class="row">
      <div style="width: 36%">
        <label for="filter">Categoria</label>
        <br />
        <select [(ngModel)]="filterGenre">
          <option value="">Todos</option>
          <option *ngFor="let genre of genres" [value]="genre">
            {{ genre }}
          </option>
        </select>
      </div>
      <div style="width: 60%; margin-right: 0">
        <label for="filter">Ano de Lançamento</label>
        <br />
        <select id="release-year-filter" [(ngModel)]="filterYear">
          <option value="">Todos</option>
          <option *ngFor="let year of years" [value]="year">{{ year }}</option>
        </select>
      </div>
    </div>
    <div style="width: 100%">
      <label for="filter">Plataforma</label>
      <br />
      <select id="platform-filter" [(ngModel)]="filterPlatform">
        <option value="">Todos</option>
        <option *ngFor="let platform of platforms" [value]="platform">
          {{ platform }}
        </option>
      </select>
    </div>
    <div style="width: 100%">
      <label for="sort-criterion">Ordenar por</label>
      <br />
      <select
        id="sort-criterion"
        [(ngModel)]="sortCriterion"
        (change)="sortGames()"
      >
        <option value="default">Padrão</option>
        <option value="release-date">Data de Lançamento</option>
        <option value="popularity">Popularidade</option>
        <option value="alphabetical">Ordem Alfabética</option>
        <option value="relevance">Relevância</option>
      </select>
    </div>
  </div>
  <div class="game-list-container">
    <ul class="game-list">
      <div
        *ngFor="
          let game of getGames()
            | filterGame : filterGenre : filterPlatform : filterYear
            | searchGame : filterGames
        "
        [ngClass]="{ favoriteGame: favoriteGames.includes(game.id) }"
      >
        <li>
          <app-game-card [game]="game"></app-game-card>
        </li>
      </div>
    </ul>
  </div>
</div>
