.game-list-container{
  width: -webkit-fill-available;
}

.game-list{
  list-style-type: none!important;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  width: -webkit-fill-available;
}

.row{
  display: flex;
  justify-content: stretch;
  margin-top: 56px;
}

.filter-box{
  position: sticky;
  top: 40px;
  margin: 0 20px;
  height: min-content;
  z-index: 1;
  width: 375px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 20px;

  .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  div {
    margin-top: 10px;
    margin-right: 10px;
  }

  input{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  select{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
}

.favoriteGame{
  order: -1;
}
