<div class="container">
  <div class="game-thumbnail">
    <div class="thumbnail">
      <img src="{{ game?.thumbnail }}" alt="Thumbnail" />
    </div>
    <div class="game-links">
      <button class="favorite" (click)="toggleFavorite()">
        <i
          class="fa-heart"
          [ngClass]="{ fa: isFavorite, far: !isFavorite }"
        ></i>
      </button>
      <a href="{{ game?.game_url }}" target="_blank"
        ><button class="play">
          <b>JOGAR </b><i class="fa fa-external-link"></i>
        </button>
      </a>
    </div>
  </div>
  <div class="game-details">
    <div class="info">
      <h1>{{ game?.title || "Título do Jogo" }}</h1>
    </div>
    <hr />
    <p class="description-long">
      {{ game?.description || "Descrição longa do Jogo" }}
    </p>
    <br />
    <h2>Requisitos do Sistema</h2>
    <div class="system-requirements">
      <div class="col">
        <div class="requirement">
          <h3>SO</h3>
          <p>{{ game?.minimum_system_requirements?.os }}</p>
        </div>

        <div class="requirement">
          <h3>Memória</h3>
          <p>{{ game?.minimum_system_requirements?.memory }}</p>
        </div>
      </div>
      <div class="col">
        <div class="requirement">
          <h3>Placa de Vídeo</h3>
          <p>{{ game?.minimum_system_requirements?.graphics }}</p>
        </div>
        <div class="requirement">
          <h3>Armazenamento</h3>
          <p>{{ game?.minimum_system_requirements?.storage }}</p>
        </div>
      </div>
    </div>
    <br />
    <h2>Informações Adicionais</h2>
    <hr />
    <div class="aditional-information">
      <div class="col">
        <div class="info">
          <h3>Plataforma</h3>
          <p>{{ game?.platform || "Plataforma do Jogo" }}</p>
        </div>
        <div class="info">
          <h3>Status</h3>
          <p>{{ game?.status || "Status do Jogo" }}</p>
        </div>
      </div>
      <div class="col">
        <div class="info">
          <h3>Categoria</h3>
          <p>{{ game?.genre }}</p>
        </div>
        <div class="info">
          <h3>Distribuidora</h3>
          <p>{{ game?.publisher }}</p>
        </div>
      </div>
      <div class="col">
        <div class="info">
          <h3>Desenvolvedora</h3>
          <p>{{ game?.developer }}</p>
        </div>
        <div class="info">
          <h3>Data de Lançamento</h3>
          <p>{{ game?.release_date }}</p>
        </div>
      </div>
    </div>
    <br />
    <h2>Screenshots</h2>
    <hr />
    <div class="screenshots">
      <div class="screenshot" *ngFor="let screenshot of game?.screenshots">
        <img
          src="{{ screenshot.image }}"
          alt="Screenshot do jogo {{ game?.title }}"
        />
      </div>
    </div>
  </div>
</div>
